---
import Splash from '../components/Splash.astro'
import Layout from '../layouts/Layout.astro'
import LandingSection from '../components/LandingSection.astro'
import { Icon } from 'astro-icon'
---

<Layout title="seokku | web developer">
  <Splash />
  <LandingSection>
    <h2 class="text-6xl text-white font-bold">
      My work
    </h2>
  </LandingSection>
</Layout>

